# Docker Hub
DOCKER_USERNAME=tu_usuario_dockerhub
IMAGE_TAG=latest

# MySQL Ventas
MYSQL_VENTAS_ROOT_PASSWORD=rootpassword
MYSQL_VENTAS_DATABASE=ventas_db
MYSQL_VENTAS_USER=ventas_user
MYSQL_VENTAS_PASSWORD=ventas_pass
MYSQL_VENTAS_PORT=3307

# MySQL Despachos
MYSQL_DESPACHOS_ROOT_PASSWORD=rootpassword
MYSQL_DESPACHOS_DATABASE=despachos_db
MYSQL_DESPACHOS_USER=despachos_user
MYSQL_DESPACHOS_PASSWORD=despachos_pass
MYSQL_DESPACHOS_PORT=3308

# Puertos backends
BACK_VENTAS_PORT=8080
BACK_DESPACHOS_PORT=8081

# Puerto frontend
FRONTEND_PORT=80
